.jumbotron {
    padding-top: 6rem;
    background-color: #e3dada;
  }
  
  #kisahku {
    background-color: #e3dada;
  }
  
  #tugas {
    background-color: #e3dada;
  }
  
  section {
    padding-top: 5rem;
  }